<div class="bodyContainer">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand">Praxis</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a>Home</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <p class="navbar-text pull-right">&copy; <%= company %> 2012</p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container-fluid" id="screen">

</div><!-- /container -->
</div>